* {
  padding: 0;
  margin: 0;
}

.body {
  /* font-family: 'Josefin Slab', serif; */
  font-family: "Poiret One", cursive;
  background-color: white;
}

.navbar {
  background-image: url(../../Imagenes/fondolineas.jpg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: groove;
  border-color: #d4d4d3;
}
.navbar .navbar-brand {
  border-radius: 20px;
}
.navbar .navbar-nav {
  color: #dfdce7;
  text-transform: uppercase;
}
.navbar .navbar-nav .nav-link {
  color: #beb19e;
  text-decoration: none;
  background: #fac4e3;
  padding: 8px;
  border-radius: 10px;
  margin: 10px;
}
.navbar .navbar-nav a:hover {
  background-color: #beecec;
  color: azure;
}

#carouselExampleDark {
  text-transform: uppercase;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: "Poiret One", cursive;
}
#carouselExampleDark .tituloFotos {
  font-size: 80px;
  color: #f0e5da;
  text-align: end;
  font-weight: bolder;
  animation-duration: 5s;
  animation-name: animacion;
}
@keyframes animacion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 3;
  }
  75% {
    opacity: 4;
  }
  100% {
    opacity: 5;
  }
}
#carouselExampleDark .textoFotos {
  font-size: 28px;
  color: #f0e5da;
  text-align: end;
  font-weight: bolder;
}
#carouselExampleDark .textoFotos2 {
  font-size: 25px;
  color: #f0e5da;
  text-align: end;
  margin-bottom: 40px;
  font-weight: bolder;
}

#principal {
  background-color: #aff8d6;
  height: 100%;
  width: 90%;
  margin: 80px;
  margin-left: 70px;
}
#principal #videoInicio {
  background-color: #aff8d6;
  padding-top: 100px;
  height: 100%;
  width: 90%;
  margin: 80px;
  margin-left: 90px;
}
#principal #videoInicio video {
  height: 85%;
  width: 100%;
}
#principal #videoInicio .tituloVideo {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Poiret One", cursive;
  color: #b8a890;
  font-weight: bolder;
}
#principal #videoInicio .parrafoVideo {
  margin-top: 10px;
  font-family: "Poiret One", cursive;
  color: #76bbcc;
  font-weight: bolder;
}

footer {
  font-family: "Poiret One", cursive;
  font-style: unset;
  background-color: #e0cbb7;
  border: 2px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
}
footer h3 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 20px;
  color: #6b6155;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  word-spacing: 4px;
  padding: 30px;
  text-align-last: center;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  font-size: 17px;
  font-weight: bold;
  color: #6d675b;
  text-align-last: left;
  margin-top: 5px;
}
footer ul li a {
  color: #6d675b;
  text-decoration: none;
}
footer ul li .enlacesContacto {
  margin: 0px;
  margin-top: 5px;
}

h2 {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  font-size: 28px;
  color: #b8a890;
  text-align: center;
  padding: 40px;
  letter-spacing: 7px;
  word-spacing: 8px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}

#nosotros {
  color: #44adc0;
  padding-top: 50px;
  padding-bottom: 100px;
  font-family: "Poiret One", cursive;
}
#nosotros #titulo {
  font-family: "Poiret One", cursive;
  background-color: #aff8d6;
  padding: 10%;
  margin: 0;
  text-align: end;
  color: white;
  text-transform: uppercase;
  font-size: 250%;
  font-weight: 900;
}
#nosotros #imagenAcercaDe1 {
  padding: 0;
}
#nosotros #imagenAcercaDe2 {
  padding: 0;
}
#nosotros #acercaDe {
  grid-area: acercaDe;
  background-color: #fad4e4;
}
#nosotros p {
  text-align: center;
  margin: 60px;
  font-size: 100%;
  line-height: 30px;
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

h4 {
  font-size: 25px;
  color: #44adc0;
  padding: 60px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poiret One", cursive;
}

#container {
  padding: 70px;
  color: #44adc0;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
}
#container #imagenProducto {
  padding: 0;
}
#container #vinchaAntonia {
  background-color: #f8d7ca;
}
#container #vinchaAntonia p {
  font-size: 19px;
  margin-bottom: 20px;
  margin: 40px;
  font-family: "Poiret One", cursive;
}
#container #vinchaNina {
  background-color: #ddf3fa;
}
#container #vinchaOlivia {
  background-color: #f8d7ca;
}
#container #vinchaOlivia p {
  font-size: 19px;
  margin-bottom: 20px;
  margin: 40px;
  font-family: "Poiret One", cursive;
}
#container #gomitasIndia {
  background-color: #ddf3fa;
}
#container #gomitasIndia p {
  font-size: 19px;
  margin-bottom: 20px;
  margin: 40px;
  font-family: "Poiret One", cursive;
}

.tituloPersonaliza {
  margin-top: 0px;
}

form {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  color: #645547;
  background-image: linear-gradient(#c0f0f3, #f3e6d4);
  border: 3px;
  width: 85%;
  height: 700px;
  padding: 40px;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-top: 70px;
  border-top-left-radius: 110px;
  border-bottom-right-radius: 110px;
  text-align: left;
}
form h5 {
  font-family: "Poiret One", cursive;
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: bolder;
  margin: 40px;
}
form h5 a {
  margin-top: 20px;
  margin-left: 30px;
  color: #da8f8f;
  text-decoration: none;
  font-size: 30px;
}
form label {
  display: block;
  color: #44adc0;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
form label .personalizaProducto {
  margin-top: 35px;
}

fieldset {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  color: #b8a890;
  width: 95%;
  height: 750px;
  padding: 0;
  border-style: dotted;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 90px;
}
fieldset legend {
  margin-left: 200px;
}
fieldset .formularioContacto {
  font-weight: bold;
  color: #645547;
  background-image: linear-gradient(#fad4e4, #f3e6d4);
  width: 88%;
  height: 630px;
  padding: 40px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top-left-radius: 110px;
  border-bottom-right-radius: 110px;
}
fieldset select {
  margin-top: 30px;
}

.seleccionColor {
  padding: 20px;
  background-color: #c0f0f3;
  border-top-left-radius: 110px;
  border-bottom-right-radius: 110px;
  margin: 80px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.seleccionColor main {
  text-align: center;
  font-family: "Poiret One", cursive;
  color: #b8a890;
}
.seleccionColor main .imagenAgranda {
  margin-left: 100px;
  margin-right: 100px;
  margin: 70px;
  border-radius: 40px;
}
.seleccionColor main .imagenAgranda :hover {
  transform: scale(1.5);
}
.seleccionColor main .negrita {
  font-weight: bolder;
  font-size: 20px;
}
.seleccionColor main details {
  font-size: 16px;
  font-weight: bolder;
  color: #44adc0;
  margin-left: 110px;
  margin-bottom: 25px;
}
.seleccionColor main details .detallesUno {
  margin-top: 20px;
  margin-left: 480px;
  width: 200px;
  height: 60px;
  transition: 3s;
}
.seleccionColor main details .detallesUno :hover {
  width: 400px;
  height: 100px;
  background-color: #d4b8cb;
}
.seleccionColor main details .detallesDos {
  margin-top: 20px;
  margin-left: 480px;
  width: 200px;
  height: 60px;
  transition: 3s;
}
.seleccionColor main details .detallesDos :hover {
  width: 400px;
  height: 100px;
  background-color: #d4b8cb;
}
.seleccionColor main details .detallesTres {
  margin-top: 20px;
  margin-left: 480px;
  width: 200px;
  height: 60px;
  transition: 3s;
}
.seleccionColor main details .detallesTres :hover {
  width: 400px;
  height: 100px;
  background-color: #d4b8cb;
}

/*# sourceMappingURL=destino.css.map */
