.body {
  font-family: "Josefin Slab", serif;
  background-color: white;
}

.nav {
  background-image: url(../Imagenes/fondolineas.jpg);
  padding: 8px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 40px;
  border-style: groove;
  border-color: #f3e9de;
}

.nav__ul {
  color: #f4f3f7;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin: 20px;
  height: 400px;
  margin-top: 0;
  height: 50px;
}

.nav__ul__li, .nav__ul__logo {
  display: block;
  font-size: 18px;
  line-height: 20px;
  margin: 20px;
  height: 20px;
}

.nav__ul__logo {
  align-self: center;
  flex-grow: 2;
}

.nav__ul__li__logo {
  border-radius: 20px;
}

.nav__ul__li__a {
  color: #beb19e;
  text-decoration: none;
  background: #fac4e3;
  padding: 5px;
  border-style: dotted;
  border-radius: 10px;
  border-width: 2px;
}

.nav__ul__li__a:hover {
  background-color: #beecec;
  color: azure;
}

.fotosPrincipal {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 70px;
  margin: 10px;
  margin-bottom: 100px;
  border-style: inherit;
  border-color: #f3eee6;
}

.fotosPrincipal__imagen1, .fotosPrincipal__imagen2 {
  display: block;
  width: 325px;
  height: 300px;
  padding: 5px;
  background-color: white;
  border-style: ridge;
  border-color: #eee9dc;
  border-width: 1px;
}

.fotosPrincipal__imagen2 {
  width: 550px;
  height: 450px;
  margin-left: 5px;
  margin-right: 5px;
}

.textoYVideo {
  padding: 5px;
  margin-bottom: 5px;
}

.textoYVideo__ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  padding: 100px;
  height: 600px;
  width: 1000px;
  background-color: #eccbe0;
  margin: 10px;
  margin-left: 55px;
  margin-top: 70px;
  border-radius: 40px;
}

.textoYVideo__ul__li {
  margin: 50px;
}

.textoYVideo__ul__li__video {
  display: block;
  height: 500px;
  width: 500px;
}

.textoYVideo__ul__li__parrafo {
  font-size: 17px;
  color: #726a61;
  word-spacing: 3px;
  line-height: 40px;
  text-align: center;
  border-style: inherit;
  padding-top: 40px;
  width: 250px;
}

.articuloPrincipal {
  color: #726a61;
  font-size: 18px;
  background-color: #ddf3fa;
  border: 3px;
  border-style: dotted;
  border-color: #ffaed0;
  padding: 70px;
  margin: 50px;
  margin-top: 180px;
  margin-bottom: 100px;
  line-height: 30px;
  border-top-left-radius: 110px;
  border-bottom-right-radius: 110px;
}

.articuloPrincipal__ol {
  list-style: circle;
}

.footer {
  font-family: "Josefin Slab", serif;
  font-style: unset;
  background-color: #e0cbb7;
  border: 2px;
  margin-top: 30px;
  border-style: solid;
  border-color: #c0ae9d;
  border-radius: 10px;
  padding: 5px;
  margin: 3px;
}

.footer__titulo {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 20px;
  color: #6b6155;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  word-spacing: 4px;
  text-align-last: center;
}

.footer__ul {
  list-style-type: none;
}

.footer__ul__contacto {
  font-size: 17px;
  font-weight: bold;
  color: #6d675b;
  text-align-last: left;
  margin-top: 5px;
}

.footer__ul__contacto__a {
  color: #6d675b;
  text-decoration: none;
}

.footer__ul__contacto__enlacesContacto {
  margin: 0px;
  margin-top: 5px;
}

/*# sourceMappingURL=destino.css.map */
