@import "_variables";

    h2{
        font-family:'Poiret One', cursive;
        font-weight: bolder;
        font-size: 28px;
        color: $color-titulo;
        text-align:center;
        padding: 40px;
        letter-spacing: 7px;
        word-spacing: 8px;
        text-transform: uppercase;
        margin-top: 100px;
        margin-bottom: 50px; 
    }

        #nosotros{
            color: $colorfuente-parrafo;
            padding-top: 50px;
            padding-bottom: 100px;
            font-family:'Poiret One', cursive;

            #titulo{
                font-family:'Poiret One', cursive;
                background-color: $fondo3;
                 padding: 10%;
                 margin: 0;
                 text-align:end;
                 color: rgb(255, 255, 255);
                 text-transform:uppercase;
                 font-size: 250%; 
                 font-weight: 900;
             }

            #imagenAcercaDe1{
                padding: 0;
            }
            
            #imagenAcercaDe2{
           padding: 0;
            } 
            
            #acercaDe{
               grid-area: acercaDe;
               background-color: $fondo2;
            }
            
            p{
               text-align: center;
               margin: 60px;
               font-size: 100%;
               line-height: 30px; 
               font-family:'Poiret One', cursive;
               font-weight: bold;
            }
         }



    




 


 
 

 
 

 