
.divEnlaceInicio{
    padding: 20px;
    padding-right: 5px;
    padding-left: 0;
    margin-bottom: 40px;
    text-align: left;

    .enlaceInicio{
        text-decoration: none;
        font-family:'Poiret One', cursive;
       font-size: 18px;
        margin-left: 20px;
        width: 20%;
        color: rgb(199, 172, 146);

        :hover{
            color: rgb(191, 211, 211);
        }
    }
    

    .enlaceProductos{
        text-decoration: none;
        font-family:'Poiret One', cursive;
       font-size: 18px;
        margin-left: 10px;
        width: 20%;
        color: rgb(123, 204, 207);

        :hover{
            color: rgb(191, 211, 211);
            
        }
    }


    .enlacePersonaliza{
        text-decoration: none;
        font-family:'Poiret One', cursive;
       font-size: 18px;
        margin-left: 10px;
        width: 20%;
        color: rgb(201, 165, 187);

       :hover{
            color: rgb(191, 211, 211);
        }
    }

    }
    
    
    
    
    
    
    
    
   
    
    
    
   
    
    