@import "_variables.scss";

.containerFooter{
    font-family:'Poiret One', cursive;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(221, 195, 173));
    margin-top: 100px;


    
    

    .tituloContacto{ 
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 30px; 
        color: rgb(107, 97, 85);
        letter-spacing: 3px;
        word-spacing: 4px;
        padding-bottom: 5px;
        text-align-last: center;
    }

    ul{
        list-style-type: none;

        .contacto{
            font-size: 17px;
            font-weight: bold;
            color:rgb(109, 103, 91);
            text-align-last: left;
            margin-top: 5px;

            a {
                color:rgb(109, 103, 91);
                text-decoration: none;
            }  

            .enlacesContacto{
                margin: 0px;
                margin-top: 5px; 
            } 
        }

        .mapaDeSitio{
            font-family: 'Syncopate', sans-serif;
            font-size: 20px;
            margin-left: 15px;
            margin-top: 15px;
            text-transform: uppercase;
            


            a{
                color:$color-titulo;
                text-decoration: none;

            }
        }



    }

.comerciosAdheridos{
          margin-bottom: 10px;

            .comerciosAdheridosTitulo{
                font-family: 'Poiret One', cursive;
                font-size: 21px;
                margin-top: 20px;
                margin-bottom: 10px;
                color: $color-titulo;
                text-transform: uppercase;
        
            }

            li{
                font-family: $fuente-titulo;
                font-size: 18px;
                color:rgb(109, 103, 91);
                font-weight: bolder;
               
                  
            }   
        }
       

        .ubicacion{
            font-family: 'Poiret One', cursive;
            font-size: 21px;
            color: $color-titulo;
            text-transform: uppercase;
        }


        iframe{
            margin-bottom: 15px;
            width: 100%;
        }
      }
 



















