
.tituloPersonaliza{
    margin-top: 0px ;
}

form{  
    font-family:'Poiret One', cursive;
    font-weight: bolder;
    color: rgb(100, 85, 71); 
    background-image:linear-gradient(rgb(192, 240, 243),rgb(243, 230, 212));
    border: 3px;
    width: 85%;
    height: 700px;
    padding: 40px;
    margin-left: 100px;  
    margin-bottom: 50px;
    margin-top: 70px;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    text-align: left;

    h5{
        font-family:'Poiret One', cursive;
        margin-top: 40px;
        margin-bottom: 50px;
        font-weight: bolder;
        margin: 40px;
       
        a{
            margin-top: 20px;
            margin-left: 30px;
            color: rgb(218, 143, 143);
            text-decoration: none;
            font-size: 30px;
        }
    }

        label{
            display:block;
            color: rgb(68, 173, 192); 
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 20px;

            .personalizaProducto{ 
                margin-top: 35px; 
            }  
            
        }  
            
}







