h4{
    font-size: 25px;
    color: rgb(68, 173, 192);
    padding: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family:'Poiret One', cursive; 
}

#container{
  
    padding: 70px;
    color: rgb(68, 173, 192);
    font-family:'Poiret One', cursive;
    font-weight: bolder;

    #imagenProducto{
        padding: 0;
      }

      #vinchaAntonia{

        background-color:rgb(248, 215, 202);

        p{
            font-size: 19px;
            margin-bottom: 20px;
            margin: 40px;
            font-family:'Poiret One', cursive;
        }
    }

    #vinchaNina{
    
        background-color:rgb(221, 243, 250);

        
    }

    
#vinchaOlivia{
    background-color:rgb(248, 215, 202);
    
    p{
        font-size: 19px;
        margin-bottom: 20px;
        margin: 40px;
        font-family:'Poiret One', cursive;
    }
}



#gomitasIndia{
    background-color:rgb(221, 243, 250);

    p{
        font-size: 19px;
        margin-bottom: 20px;
        margin: 40px;
        font-family:'Poiret One', cursive;
    }
}

    }






 





 




