$fuente-titulo:'Poiret One', cursive;
$color-titulo:rgb(184, 168, 144);
$tamaño-titulo: 35px;
$fuente-parrafo:'Poiret One', cursive;
$colorfuente-parrafo:rgb(68, 173, 192);
$fondo1:rgb(192, 240, 243);
$fondo2: rgb(250, 212, 228);
$fondo3:rgb(175, 248, 214);
