.fotosPrincipal{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    padding: 70px;
    margin: 10px;
    margin-bottom: 100px;
    border-style:inherit;
    border-color: rgb(243, 238, 230);  
} 

.fotosPrincipal__imagen1{
    display: block;
    width: 325px;
    height: 300px ;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-style: ridge;
    border-color: rgb(238, 233, 220);
    border-width: 1px;
}

.fotosPrincipal__imagen2{
    @extend.fotosPrincipal__imagen1;
    width:550px ;
    height:450px ;
    margin-left: 5px;
    margin-right: 5px; 
}






.textoYVideo{
    padding: 5px;
    margin-bottom: 5px;
}

.textoYVideo__ul{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:flex-start;
    list-style-type: none;
    padding: 100px ;
    height: 600px;
    width: 1000px;
    background-color: rgb(236, 203, 224);
    margin: 10px;
    margin-left: 55px;
    margin-top: 70px;
    border-radius: 40px; 
}

.textoYVideo__ul__li{
    margin:50px;

}

.textoYVideo__ul__li__video{
    display: block;
    height: 500px;
    width: 500px;
}

.textoYVideo__ul__li__parrafo{
    font-size: 17px;
    color: rgb(114, 106, 97);
    word-spacing: 3px;
    line-height: 40px;
    text-align: center;
    border-style:inherit;
    padding-top: 40px;
    width: 250px; 
}




.articuloPrincipal{
    color: rgb(114, 106, 97);
    font-size: 18px;
    background-color: rgb(221, 243, 250);
    border: 3px;
    border-style: dotted;
    border-color: rgb(255, 174, 208);
    padding: 70px;
    margin: 50px;
    margin-top: 180px;
    margin-bottom: 100px;
    line-height: 30px;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
}

.articuloPrincipal__ol{
    list-style:circle;
}

